/*.swatch {
  width: 10%;
  height: 0%;
 /* padding: 1px;*/
  /*padding-right: 4px;*/
  /*background-color: orange;
  border-collapse: collapse;*/
 /* border: 5px solid black;*/
 /*  border: 1px solid black;}*/

.grid{
  width: 100%;
  height: 100%;
  display: inline-block;
}
#pixelPainter {
  width: 90%;
}
.pixel{
  border: 1px solid black;
  width: 1%;
  float: left;
}

.palletteColumns {
  padding: 1px;
  padding-right: 4px;
  background-color: orange;
  border-collapse: collapse;
  border: 5px solid black;
  border: 1px solid black;

}

.palletteColumns:hover {
  width: 60px;
  color: white;

}

.canvas{
  width: 88%;
  float: right;
  height: 100%;

}

/*.palletteRows:hover {
  color: white;

}

/*.palletteRows {
  padding: 1px;
  padding-right: 4px;
  background-color: orange;
  border-collapse: collapse;
  border: 5px solid black;
  border: 1px solid black;


}

.grid {
  float: right;
  display: inline-block;
  width: 88%;
  padding: 1px;
  padding-right: 4px;
  background-color: orange;
  border-collapse: collapse;
  border: 5px solid black;
  border: 1px solid bla
}
*/
body {
  background-color: rgba(69, 127, 165, 1);
}